
web/qintalker/.idea/
web/qintalker/.gradle/
web/qintalker/build/
App/qintalker/.idea/
App/qintalker/build/
web/qintalker/.gradle/5.2.1/executionHistory/executionHistory.bin
web/qintalker/.gradle/5.2.1/executionHistory/executionHistory.bin
web/qintalker/.gradle/5.2.1/executionHistory/executionHistory.bin
web/qintalker/.gradle/5.2.1/executionHistory/executionHistory.bin
web/qintalker/.gradle/5.2.1/executionHistory/executionHistory.lock
web/qintalker/.gradle/5.2.1/fileHashes/fileHashes.bin
web/qintalker/.gradle/5.2.1/javaCompile/classAnalysis.bin
web/qintalker/.gradle/5.2.1/javaCompile/javaCompile.lock
web/qintalker/.gradle/buildOutputCleanup/buildOutputCleanup.lock
